<!DOCTYPE html>
<html>
  <head>
    <title> Belis Turegun - Marketer & Developer </title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/164d6a178e.js" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main-navigation" class="clearfix">
    <%= link_to 'Belis Turegun', root_path, class: "name" %>
    <nav>
      <%= link_to 'Blog', posts_path %>
      <a href=""> Projects </a>
      <a href=""> Contact </a>
    </nav>
  </header>

    <%= yield %>

    <footer id="main-footer">
      <p class="copyright">&copy;2020 Belis Turegun </p>
      <nav>
        <a href="https://www.linkedin.com/in/belisturegun/" target='_blank'><i class="fab fa-linkedin"> </i></a>
        <a href="https://github.com/trgnb" target='_blank'><i class="fab fa-github"> </i></a>
        <a href="mailto:trgnb6@gmail.com" target='_blank'><i class="fas fa-envelope-square"> </i> </i></a>
      </nav>
    </footer>
  </body>
</html>
